@use 'sass:math';

$displayUtilities : (
    "display":(
        "prefix":"display",
        "values":(
            "n":none,
            "b":block,
            "f":flex,
            "i":inline,
            "i-b":inline-block,
        )
    )
);

@each $property,$map in $displayUtilities {
    $prefix : map-get($map,"prefix");
    $values : map-get($map,"values");
    @each $k,$v in $values {
     .#{$prefix}-#{$k} {
         #{$property} : $v;
     }
    }
 }