@use 'sass:math';

$font-size-base: 1rem !default;
$font-size-small: $font-size-base * 0.75 !default;
$font-size-large: $font-size-base * 1.5 !default;
$font-size-xlarge: $font-size-base * 2 !default;
$font-size-xxlarge: $font-size-base * 3 !default;

$fontsizes : (
    "font-size": (
        "prefix":"font",
        "values":(        
            "sm":$font-size-small,
            "md":$font-size-base,
            "lg":$font-size-large,
            "xl":$font-size-xlarge,
            "xxl":$font-size-xxlarge,
        )
    ),
);

@each $property,$map in $fontsizes {
    $prefix : map-get($map,"prefix");
    $values : map-get($map,"values");
    @each $k,$v in $values {
     .#{$prefix}-#{$k} {
         #{$property} : $v;
     }
    }
 }

$padding-base-vertical:     8px !default;
$padding-base-horizontal:   16px !default;
 
$padding-large-vertical:    12px !default;
$padding-large-horizontal:  24px !default;
 
$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;
 
$padding-xlarge-vertical:    20px !default;
$padding-xlarge-horizontal:  40px !default; 



$line-height-large:   1.3333333 !default;
$line-height-small:   1.5 !default;