@use '../variables/' as *;

@each $key,$val in $colors {
    .bg-#{$key} {
        color : $white;
        background-color : $val;
    }
    @if ($val != white and $val != black) {
        @for $i from 1 through 9 {
            .bg-#{$key}-light-#{$i} {
                color : $white;
                background-color : mix(white,$val,$i*10);
            }
        }
        @for $i from 1 through 9 {
            .bg-#{$key}-dark-#{$i} {
                color : $white;
                background-color : mix(black,$val,$i*10);
            }
        }  
    }
}