@use '../variables/' as *;

@each $key,$value in $colors {
    .text-#{$key} {
        color : $value;
    }
    .text-hover-#{$key} {
        color : lighten($value,10);
    }

    @if($value != white and $value != black){
        @for $i from 1 through 9 {
            .text-#{$key}-light-#{$i} {
                color : mix(white,$value,$i*10);
            }
            .text-hover-#{$key}-light-#{$i} {
                &:hover {
                    color : mix(white,$value,$i*10);
                }                    
            }
        }
        @for $i from 1 through 9 {
            .text-#{$key}-dark-#{$i} {
                color : mix(black,$value,$i*10);
            }
            .text-hover-#{$key}-light-#{$i} {
                &:hover {
                    color : mix(black,$value,$i*10);
                }                    
            }
        }
    }
}